.profile-home {
  padding: 40px;
}
.profile-container {
  display: flex;
  width: 100%;
}

.profile-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.profile-home button {
  display: block;
  margin-top: 20px;
  padding: 12px 20px;
  width: 200px;
  background: #2d72f4;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.back-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: #2f6df1;
  font-weight: 600;
  padding: 8px 0;
  transition: 0.2s;
}

.back-btn:hover {
  color: #1743b3;
  transform: translateX(-3px);
}
.back-btn-wrapper {
  margin: 0px 40px;
}